@import 'colors.css';
:root{
    --width-city-text:250px;
    --height-form-city:48px;
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.main-header-logo-anchor{
    display: inline-block;
    margin: 40px 50px 30px 50px;
}

.main-header-logo{
    height: 40px;
    width: auto;
}

.main-header-list{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    margin: 0;
}

.main-header-list-elt-link{
    display: flex;
    padding: 0px 20px;  
    padding-top: 40px;
    margin: 0px 15px;
    text-decoration: none;
    color: black;
    border-top: 2px solid transparent;
    font-size: 15px;
}

.main-header-list-elt-link:hover{
    color: var(--main-blue);
    border-top: 2px solid;
    border-color: var(--main-blue);
}

main{
    margin: 0px 50px;
}

.title-below-header{
    margin: 0;
    font-size: 19px;    
}

.paragraph-below-header{
    font-size: 15px;
    margin: 12px 0;
}

.form-city{
    margin: 15px 0 90px 0;
}

.form-city-div{
    position: relative;
}

.form-city-text{
    position: absolute;
    padding: 10px 15px 10px 40px;
    left: 20px;
    height: var(--height-form-city);
    width: var(--width-city-text);
    font-weight: bold;
    border: 2px solid var(--bg-grey);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.form-city-text:focus{
    outline: none;
    
}

.form-city-search-button{
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 14px 14px 0;
}

.form-city-location-icon{
    position: absolute;
    z-index: 2;
    padding: 18px;
    height: var(--height-form-city);
    background-color: var(--bg-grey);
    border-radius: 14px 0 0 14px;
}
.form-city-search-button{
    height: 48px;
}

.form-city-search-icon{
    display: none;
}

.filtres-main-div{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filtres-text{
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.filtre-elt{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 48px;
    margin: 10px 15px;
    border: 3px solid var(--bg-grey);
    border-radius: 25px;
}

.filtre-elt:hover{
    background-color: var(--main-blue);
    color: white;
}

.filtre-icon{
    padding: 15px;
    background-color: var(--light-blue);
    color: var(--main-blue);
    border-radius: 25px;
    margin-left: -3px;
}

.filtre-elt-text{
    font-weight: bolder;
    font-size: 17px;
    padding: 0 15px;
    margin: 0;
}

.nb-de-logement{
    display: flex;
    align-items: center;
}

.nb-de-logement-icon{
    margin-right: 10px;
    padding: 5px;
    font-weight: bolder;
    border: 2px solid var(--bg-grey);
    color: var(--main-blue);
    border-radius: 12px;
    height: 24px;
    width: 24px;
    display: flex;  
    justify-content: center;
    align-items: center;

}

.nb-de-logement-text{
    font-size: 15px;
}

/*BreakPoint pour les tablettes */
@media (max-width:992px){
    .title-below-header{
        font-size: 16px;
}
.paragraph-below-header{
    font-size: 13px;
}

.filtres-text{
    width: 90%;
}

}

/* Breakpoint pour les telephones*/
@media (max-width:768px){
.main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header-logo-anchor{
    margin: 20px 0px 30px 0px;
}

.main-header-nav{
    width: 100%;
}

.main-header-list{
    margin: 0;
    padding: 0;
   
}

.main-header-list-elt{
    width: 50%;
}

.main-header-list-elt-link{
    padding-top: 0px;
    padding-bottom: 15px;
    border-top: none;
    border-bottom:2px solid transparent;
    justify-content: center;
    margin: 0;
}

.main-header-list-elt-link:hover{
    border-color: var(--main-blue);
    border-top: none;
}

main{
    margin: 30px 15px 30px 15px;
}

.form-city-search-button{
    display: none;
}
.form-city-search-icon{
    display: initial;
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 14px 14px 14px 14px;
}

.filtres-text{
    width: 100%;
}
.filtres-main-div{
    width: 100%;
}

.filtre-elt{
    margin:5px;
}
}