@import 'colors.css';

:root{
    --width-city-text:220px;
    --height-form-city:48px;
    --common-margin-desktop:45px;
    --common-margin-mobile:20px;
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.main-header-logo-anchor{
    display: inline-block;
    margin: 40px 50px 30px 50px;
}

.main-header-logo{
    height: 40px;
    width: auto;
}

.main-header-list{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    margin: 0;
}

.main-header-list-elt-link{
    display: flex;
    padding: 0px 20px;  
    padding-top: 40px;
    margin: 0px 15px;
    text-decoration: none;
    color: black;
    border-top: 2px solid transparent;
    font-size: 15px;
}

.main-header-list-elt-link:hover{
    color: var(--main-blue);
    border-top: 2px solid;
    border-color: var(--main-blue);
}

main{
    margin: 0px var(--common-margin-desktop) 0px var(--common-margin-desktop);
}

.title-below-header{
    margin: 0;
    font-size: 19px;    
}

.paragraph-below-header{
    font-size: 15px;
    margin: 12px 0;
}

.form-city{
    margin: 15px 0 90px 0;
}

.form-city-div{
    position: relative;
}

.form-city-text{
    position: absolute;
    padding: 10px 15px 10px 40px;
    left: 20px;
    height: var(--height-form-city);
    width: var(--width-city-text);
    font-weight: bold;
    border: 2px solid var(--bg-grey);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.form-city-text:focus{
    outline: none;
    
}

.form-city-search-button{
    cursor: pointer;
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 14px 14px 0;
}

.form-city-location-icon{
    position: absolute;
    z-index: 2;
    padding: 18px;
    height: var(--height-form-city);
    background-color: var(--bg-grey);
    border-radius: 14px 0 0 14px;
}
.form-city-search-button{
    height: 48px;
}

.form-city-search-icon{
    display: none;
}

.filtres-main-div{
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    align-items: baseline;
}

.filtres-text{
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.filtres-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.filtre-elt{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 48px;
    margin: 10px 15px;
    border: 3px solid var(--bg-grey);
    border-radius: 25px;
}

.filtre-elt:hover{
    background-color: var(--main-blue);
    color: white;
}

.filtre-icon{
    padding: 15px;
    background-color: var(--light-blue);
    color: var(--main-blue);
    border-radius: 25px;
    margin-left: -3px;
}

.filtre-elt-text{
    font-weight: bolder;
    font-size: 17px;
    padding: 0 15px;
    margin: 0;
}

.nb-de-logement{
    display: flex;
    align-items: center;
}

.nb-de-logement-icon{
    margin-right: 10px;
    padding: 5px;
    font-weight: bolder;
    border: 2px solid var(--bg-grey);
    color: var(--main-blue);
    border-radius: 12px;
    height: 24px;
    width: 24px;
    display: flex !important;  
    justify-content: center;
    align-items: center;

}

.nb-de-logement-text{
    font-size: 15px;
}

.hebergement-card{
    height: 180px;
    width: 212px;
    display: flex;
    margin: 20px 20px 0px 0;
    padding: 6px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 1px 10px rgb(0 0 0 / 30%);

}

.hebergement-card:hover .hebergement-card-image{
    width: 110%;
}

.hebergement-card:hover .hebergement-card-title{
    color: var(--main-blue);
}

.hebergement-card-anchor{
    text-decoration: none;
}

.hebergement-card-div-image{
    height: 100px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10% 10% 0 0;
}

.hebergement-card-image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hebergement-card-body{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    font-weight: 600;
}

.hebergement-card-title{
    color: black;
    font-size: 14px;
}

.hebergement-card-prix{
    color: black;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 400;
}

.hebergement-card-rating {
    color: var(--main-blue);
}

.hebergement-rating-empty-star{
    color: var(--bg-grey);
}

.populaire-card{
    height: 122px;
    width: 310px;
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
    padding: 6px;
    background-color: white;
    border-radius: 20px;
}

.populaire-card:hover .populaire-card-image{
    height: 110%;
    width: 110%;
}

.populaire-card:hover .populaire-card-title{
    color: var(--main-blue);
}

.populaire-card-anchor{
    text-decoration: none;
    display: flex;
    padding-right: 20px;
}

.populaire-card-div-image{
    height: 110px;
    width: 120px;
    overflow: hidden;
    border-radius: 10% 0 0 10%;
}

.populaire-card-image{
    height: 100%;
    width: 100%;
}

.populaire-card-body{
    display: flex;
    flex-direction: column;
    width: 145px;
    margin: 10px;
    font-weight: 600;
}

.populaire-card-title{
    color: black;
    font-size: 15px;
}

.populaire-card-prix{
    color: black;
    margin: 5px 0;
    font-size: 12px;
}

.populaire-card-rating{
    margin-top: auto;
    color: var(--main-blue);
}


.populaire-rating-empty-star{
    color: var(--bg-grey);
}

.hebergements-populaires-container{
    display: flex;
    margin-top: 30px;
}



.hebergements-container{
    display: flex;
    --hebergements-container--margin:35px;
    width: 67%;
    flex-direction: column;
    background-color: var(--bg-grey);
    border-radius: 20px;
    margin-right: var(--hebergements-container--margin);
}

.hebergements-title{
    font-size: 20px;
    font-weight: bolder;
    margin-left: var(--hebergements-container--margin);
    margin-top: var(--hebergements-container--margin);
}

.hebergements-cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--hebergements-container--margin);
}

.hebergements-cards-action-text{
    margin: 30px var(--hebergements-container--margin);
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}

.populaires-container{
    display: flex;
    width: 33%;
    flex-direction: column;
    background-color: var(--bg-grey);
    border-radius: 15px;
}

.populaires-title-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    font-weight: bolder;
    font-size: 20px;
}

.activites-wrapper{
    display: flex;
    flex-direction: column;
    margin:50px 0px 30px 0px;
}

.activites-title{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.activites-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    --activites-container-height:400px;
    height: var(--activites-container-height);
}

.activite-wrapper{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    width: calc(25% - 40px);
    --activite-wrapper-margin-bottom:30px;
    margin-right: 40px;
    margin-bottom: var(--activite-wrapper-margin-bottom);
}

/** Pas besoinde de margin a droite
car ce sont les 2 derniers  **/
.activite-wrapper:nth-last-of-type(-n+2){
    margin-right: 0;
}

.activite-elt{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 1px 10px rgb(0 0 0 / 30%);
    overflow: hidden;
}


.activite-img{
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;

}
.activite-text{
    color: black;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bolder;
}

#activite-two{
    height: calc(60% - var(--activite-wrapper-margin-bottom));
}
#activite-three{
    height: calc(40% - var(--activite-wrapper-margin-bottom));
}

#activite-five{
    height: calc(50% - var(--activite-wrapper-margin-bottom));
}

#activite-six{
    height: calc(50% - var(--activite-wrapper-margin-bottom));
}

.main-footer{
    background-color: var(--bg-grey);
    width: 100%;
    margin: 0;
}

.main-footer-wrapper{
    display: flex;
    padding: var(--common-margin-desktop) 0 var(--common-margin-desktop) 0;
}

.main-footer-elt{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 45px;
}

.main-footer-elt-title{
    font-weight: bold;
    margin-bottom: 15px;
}

.main-footer-elt-link{
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/*BreakPoint pour les tablettes */
@media (max-width:992px){
    .title-below-header{
        font-size: 16px;
}
.paragraph-below-header{
    font-size: 13px;
}

.populaires-container{
    width: 40%;
}

.populaire-card-body{
    width: 120px;
}

.populaire-card{
    width: 250px;
}

.populaire-card-title{
    font-size: 13px;
}

.populaire-card-div-image{
    height: 110px;
    width: 100px;
}

.hebergement-card{
    width: 172px;
    margin-right: 5px;
}

.hebergement-card-title{
    font-size: 12px ;
}

.hebergement-card-prix{
    font-size: 11px;
}

.hebergement-card-div-image{
    width: 160px;
}

.activites-container{
    --activites-container-height:300px;
}

.activite-wrapper{
    width: calc(25% - 30px);
    --activite-wrapper-margin-bottom:30px;
}



}

/* Breakpoint pour les telephones*/
@media (max-width:768px){
.main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header-logo-anchor{
    margin: 20px 0px 30px 0px;
}

.main-header-nav{
    width: 100%;
}

.main-header-list{
    margin: 0;
    padding: 0;
   
}

.main-header-list-elt{
    width: 50%;
}

.main-header-list-elt-link{
    padding-top: 0px;
    padding-bottom: 15px;
    border-top: none;
    border-bottom:2px solid transparent;
    justify-content: center;
    margin: 0;
}

.main-header-list-elt-link:hover{
    border-color: var(--main-blue);
    border-top: none;
}

main{
    /*margin: 30px 15px 30px 15px;*/
    margin: 0;
}

.title-below-header{
    margin: 10px 20px;
}
.paragraph-below-header{
    margin: 10px 20px;
}

.form-city{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-city-search-button{
    display: none;
}
.form-city-search-icon{
    display: initial;
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 14px 14px 14px 14px;
}

.filtres-text{
    width: 100%;
    margin-bottom: 15px;
}
.filtres-main-div{
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
}

.filtre-elt{
    margin:5px 5px 5px 0;
}

.nb-de-logement{
    margin: 0 20px;
}

.hebergement-card{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 18px 18px 18px 18px;
}

.hebergement-card-title{
    font-size: 18px;
}

.hebergement-card-anchor{
    width: 100%;
}
.hebergement-card-div-image{
    width: 100%;
    border-radius: 12px 12px 0 0 ;
}

.hebergements-cards-action-text{
    margin-left: 20px;
    margin-right: 20px;
}

.populaire-card{
    width: 100%;
    margin: auto;
    height: 140px;
    margin: 10px 0;

}

.populaire-card-anchor{
    width: 100%;
}
.populaire-card-div-image{
    height: 130px;
    width: 40%;
    overflow: hidden;
}
.populaire-card-body{
    margin-left: 30px;
}

.populaires-container-cards{
    margin: 0 var(--common-margin-mobile) 20px  var(--common-margin-mobile);
}

.populaire-card-title{
    font-size: 14px;
    font-weight: bold;
}

.hebergements-populaires-container{
    flex-direction: column;
}

.hebergements-container{
    order: 2;
    --common-margin-mobile-times-two: calc(2*var(--common-margin-mobile));
    width: calc(100% - var(--common-margin-mobile-times-two));
    background-color: white;
    margin-right: var(--common-margin-mobile);
    margin-left: var(--common-margin-mobile);
}
.hebergements-cards-container{
    margin-left: 0;
    margin-right: 0;
}

.hebergements-title{
    margin: 40px 0 20px 0;
}

.populaires-container{
    order: 1;
    width: 100%;
    border-radius: 0px;
}

.populaires-title-container{
    margin: 30px var(--common-margin-mobile) 20px var(--common-margin-mobile);
}


.activites-wrapper{
    margin-right: 0;
    margin-left: 0;
}

.activites-container{
    justify-content: center;
    flex-direction: row;
    margin-left: var(--common-margin-mobile);
    width: calc(100% - var(--common-margin-mobile));
    height: auto;
}

.activites-title{
    margin-left: var(--common-margin-mobile);
}

.activite-wrapper{
    width: 100%;
    --activite-wrapper-height-mobile:200px;
    height: var(--activite-wrapper-height-mobile);
    margin-right: var(--common-margin-mobile);
}

#activite-two{
    height: var(--activite-wrapper-height-mobile);
}
#activite-three{
    height: var(--activite-wrapper-height-mobile);
}
#activite-five{
    height: var(--activite-wrapper-height-mobile);
}
#activite-six{
    height: var(--activite-wrapper-height-mobile);
}

.activite-wrapper:nth-last-of-type(-n+2){
    margin-right: var(--common-margin-mobile);
}

.main-footer-wrapper{
    flex-direction: column;
    padding: 40px var(--common-margin-mobile) 40px var(--common-margin-mobile);
}

.main-footer-elt{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;    
}

.main-footer-elt:last-of-type{
    margin-bottom: 0;
}

}