@import 'colors.css';
:root{
    --width-city-text:250px;
    --height-form-city:48px;
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.main-header-logo-anchor{
    display: inline-block;
    margin: 40px 50px 30px 50px;
}

.main-header-logo{
    height: 40px;
    width: auto;
}

.main-header-list{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    margin: 0;
}

.main-header-list-elt-link{
    display: flex;
    padding: 0px 20px;  
    padding-top: 40px;
    margin: 0px 15px;
    text-decoration: none;
    color: black;
    border-top: 2px solid transparent;
    font-size: 15px;
}

.main-header-list-elt-link:hover{
    color: var(--main-blue);
    border-top: 2px solid;
    border-color: var(--main-blue);
}

main{
    margin: 0px 40px 0px 40px;
}

.title-below-header{
    margin: 0;
    font-size: 19px;    
}

.paragraph-below-header{
    font-size: 15px;
    margin: 12px 0;
}

.form-city{
    margin: 15px 0 90px 0;
}

.form-city-div{
    position: relative;
}

.form-city-text{
    position: absolute;
    padding: 10px 15px 10px 40px;
    left: 20px;
    height: var(--height-form-city);
    width: var(--width-city-text);
    font-weight: bold;
    border: 2px solid var(--bg-grey);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.form-city-text:focus{
    outline: none;
    
}

.form-city-search-button{
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 14px 14px 0;
}

.form-city-location-icon{
    position: absolute;
    z-index: 2;
    padding: 18px;
    height: var(--height-form-city);
    background-color: var(--bg-grey);
    border-radius: 14px 0 0 14px;
}
.form-city-search-button{
    height: 48px;
}

.form-city-search-icon{
    display: none;
}

.filtres-main-div{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filtres-text{
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.filtre-elt{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 48px;
    margin: 10px 15px;
    border: 3px solid var(--bg-grey);
    border-radius: 25px;
}

.filtre-elt:hover{
    background-color: var(--main-blue);
    color: white;
}

.filtre-icon{
    padding: 15px;
    background-color: var(--light-blue);
    color: var(--main-blue);
    border-radius: 25px;
    margin-left: -3px;
}

.filtre-elt-text{
    font-weight: bolder;
    font-size: 17px;
    padding: 0 15px;
    margin: 0;
}

.nb-de-logement{
    display: flex;
    align-items: center;
}

.nb-de-logement-icon{
    margin-right: 10px;
    padding: 5px;
    font-weight: bolder;
    border: 2px solid var(--bg-grey);
    color: var(--main-blue);
    border-radius: 12px;
    height: 24px;
    width: 24px;
    display: flex !important;  
    justify-content: center;
    align-items: center;

}

.nb-de-logement-text{
    font-size: 15px;
}

.hebergement-card{
    height: 180px;
    width: 212px;
    display: flex;
    margin: 20px 20px 0px 0;
    padding: 6px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 1px 10px rgb(0 0 0 / 30%);

}

.hebergement-card:hover .hebergement-card-image{
    width: 110%;
}

.hebergement-card:hover .hebergement-card-title{
    color: var(--main-blue);
}

.hebergement-card-anchor{
    text-decoration: none;
}

.hebergement-card-div-image{
    height: 100px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10% 10% 0 0;
}

.hebergement-card-image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hebergement-card-body{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    font-weight: 600;
}

.hebergement-card-title{
    color: black;
    font-size: 14px;
}

.hebergement-card-prix{
    color: black;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 400;
}

.hebergement-card-rating {
    color: var(--main-blue);
}

.hebergement-rating-empty-star{
    color: var(--bg-grey);
}

.populaire-card{
    height: 122px;
    width: 310px;
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
    padding: 6px;
    background-color: white;
    border-radius: 20px;
}

.populaire-card:hover .populaire-card-image{
    height: 110%;
    width: 110%;
}

.populaire-card:hover .populaire-card-title{
    color: var(--main-blue);
}

.populaire-card-anchor{
    text-decoration: none;
    display: flex;
    padding-right: 20px;
}

.populaire-card-div-image{
    height: 110px;
    width: 120px;
    overflow: hidden;
    border-radius: 10% 0 0 10%;
}

.populaire-card-image{
    height: 100%;
    width: 100%;
}

.populaire-card-body{
    display: flex;
    flex-direction: column;
    width: 145px;
    margin: 10px;
    font-weight: 600;
}

.populaire-card-title{
    color: black;
    font-size: 15px;
}

.populaire-card-prix{
    color: black;
    margin: 5px 0;
    font-size: 12px;
}

.populaire-card-rating{
    margin-top: auto;
    color: var(--main-blue);
}


.populaire-rating-empty-star{
    color: var(--bg-grey);
}

.hebergements-populaires-container{
    display: flex;
    margin-top: 30px;
}

.hebergements-container{
    display: flex;
    width: 67%;
    flex-direction: column;
    background-color: var(--bg-grey);
    margin-right: 40px;
    
}

.hebergements-title{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 40px;
}

.hebergements-cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.hebergements-cards-action-text{
    margin: 20px 40px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-start;
}

.populaires-container{
    display: flex;
    width: 33%;
    flex-direction: column;
    background-color: var(--bg-grey);
}

.populaires-title-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    font-weight: bolder;
    font-size: 20px;
}

.activites-wrapper{
    display: flex;
    flex-direction: column;
    margin:50px 20px 30px 0px;
}

.activites-title{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.activites-container{
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-wrap: wrap;
    width: 100%;
}

.activite-wrapper{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 400px;
    width: 250px;
    margin-right: 40px;
}

.activite-wrapper:last-of-type{
    margin-right: 0px;
}

.activite-elt{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    box-shadow: 5px 1px 10px rgb(0 0 0 / 30%);
    overflow: hidden;
}


.activite-img{
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;

}
.activite-text{
    color: black;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bolder;
}

#activite-two{
    height: 220px;
}
#activite-three{
    height: 180px;
}

#activite-five{
    height: 200px;
}

#activite-six{
    height: 200px;
}

/*BreakPoint pour les tablettes */
@media (max-width:992px){
    .title-below-header{
        font-size: 16px;
}
.paragraph-below-header{
    font-size: 13px;
}

.filtres-text{
    width: 90%;
}

.populaires-container{
    width: 40%;
}

.populaire-card-body{
    width: 120px;
}

.populaire-card{
    width: 250px;
}

.populaire-card-title{
    font-size: 13px;
}

.populaire-card-div-image{
    height: 110px;
    width: 100px;
}

.hebergement-card{
    width: 172px;
    margin-right: 5px;
}

.hebergement-card-title{
    font-size: 12px ;
}

.hebergement-card-prix{
    font-size: 11px;
}

.hebergement-card-div-image{
    width: 160px;
}

.activite-wrapper{
    height: 300px;
    width: 160px;
}

#activite-two{
    height: 160px;
}
#activite-three{
    height: 140px;
}

#activite-five{
    height: 150px;
}
#activite-six{
    height: 150px;
}

}

/* Breakpoint pour les telephones*/
@media (max-width:768px){
.main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header-logo-anchor{
    margin: 20px 0px 30px 0px;
}

.main-header-nav{
    width: 100%;
}

.main-header-list{
    margin: 0;
    padding: 0;
   
}

.main-header-list-elt{
    width: 50%;
}

.main-header-list-elt-link{
    padding-top: 0px;
    padding-bottom: 15px;
    border-top: none;
    border-bottom:2px solid transparent;
    justify-content: center;
    margin: 0;
}

.main-header-list-elt-link:hover{
    border-color: var(--main-blue);
    border-top: none;
}

main{
    /*margin: 30px 15px 30px 15px;*/
    margin: 0;
}

.title-below-header{
    margin: 10px 20px;
}
.paragraph-below-header{
    margin: 10px 20px;
}

.form-city{
    width: 90%;
    margin-left: auto;
}

.form-city-search-button{
    display: none;
}
.form-city-search-icon{
    display: initial;
    position: absolute;
    height: var(--height-form-city);
    left: var(--width-city-text);
    background-color: var(--main-blue);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 14px 14px 14px 14px;
}

.filtres-text{
    width: 100%;
}
.filtres-main-div{
    width: 100%;
    padding: 0 20px;
}

.filtre-elt{
    margin:5px 5px 5px 0;
}

.nb-de-logement{
    margin: 0 20px;
}

.hebergement-card{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 18px 18px 18px 18px;
}

.hebergement-card-title{
    font-size: 18px;
}

.hebergement-card-anchor{
    width: 100%;
}
.hebergement-card-div-image{
    width: 100%;
    border-radius: 12px 12px 0 0 ;
}

.hebergements-cards-action-text{
    margin-left: 20px;
    margin-right: 20px;
}

.populaire-card{
    width: 100%;
    margin: auto;
    height: 140px;
    margin: 10px 0;

}

.populaire-card-anchor{
    width: 100%;
}
.populaire-card-div-image{
    height: 130px;
    width: 40%;
    overflow: hidden;
}
.populaire-card-body{
    margin-left: 30px;
}

.populaires-container-cards{
    margin: 0 20px;
}

.populaire-card-title{
    font-size: 14px;
    font-weight: bold;
}

.hebergements-populaires-container{
    flex-direction: column;
}

.hebergements-container{
    order: 2;
    width: 100%;
    background-color: white;

}

.hebergements-cards-container{
    margin-left: 20px;
    margin-right: 20px;
}

.hebergements-title{
    margin: 40px 30px 20px 20px;
}

.populaires-container{
    order: 1;
    width: 100%;
}

.populaires-title-container{
    margin: 30px 20px;
}


.activites-wrapper{
    margin-right: 0;
    margin-left: 0;
}

.activite-wrapper{
    margin-right: 0px;
    height: 200px;
    width: 100%;
}

#activite-two{
    height: 200px;
}
#activite-three{
    height: 200px;
}
#activite-five{
    height: 200px;
}
#activite-six{
    height: 200px;
}

.activites-container{
    justify-content: center;
    flex-direction: row;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.activites-title{
    margin-left: 20px;
}

}